<section class="yoga-classes">
  <div class="container">
    <p class="yoga-classes__title-above">Explore</p>
    <h2 class="yoga-classes__title">Discover Our Most Popular Yoga Programs</h2>
    <h2 class="yoga-classes__tablet-title">
      Transform Your Life with Our Yoga Clases
    </h2>
    <p class="yoga-classes__description">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-classes__yoga-list">
      <li class="yoga-list__item">
        <img class="yoga-list__image" src="" alt="Beginner Yoga" />
        <h3 class="yoga-list__title">
          Beginner Yoga: Foundations for New Practitioners
        </h3>
        <p class="yoga-list__description">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-list__item">
        <img class="yoga-list__image" src="" alt="Vinyasa Flow" />
        <h3 class="yoga-list__title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-list__description">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-list__item">
        <img class="yoga-list__image" src="" alt="Restorative Yoga" />
        <h3 class="yoga-list__title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-list__description">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>

    <a class="yoga-classes__button-join-to" href="#pricing">Join now</a>
  </div>
</section>
