.hero__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__image {
    object-fit: cover;
    height: 301px;
}

@media screen and (min-width: 768px ) {
    .hero__image {
        height: 359px;
    }
}

@media screen and (min-width: 1336px) {
    .hero__image {
        height: 684px;
    }
}

.hero__container {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .hero__container {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1336px) {
    .hero__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 1336px) {
    .hero__content-wrapper {
        display: flex;
        gap: 24px;
    }
}

.hero__main-title {
    font-family: var(--second-family);
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-scheme-3-text);

    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .hero__main-title {
        max-width: 423px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1336px) {
    .hero__main-title {
        font-size: 72px;
        max-width: 644px;
    }
}

.hero__description {
    line-height: 1.6;
    color: var(--color-scheme-3-text);

    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .hero__description {
        font-size: 18px;
        max-width: 641px;
        margin-bottom: 32px;
    }
}

.hero__button-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .hero__button-list {
        flex-direction: row;
    }
}

.hero__button-join-to {
    font-weight: 500;
    color: var(--color-neutral-darkest);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 46px;

    border: 1px solid var(--color-hawkes-blue);
    border-radius: 100px;
    background: var(--color-hawkes-blue);

    transition: var(--opacity-animation), var(--background-animation);
}

@media screen and (min-width: 768px) {
    .hero__button-join-to {
        min-width: 113px;
    }
}

.hero__button-join-to:hover,
.hero__button-join-to:focus {
    opacity: 0.5;
}

.hero__button-join-to:active {
    background-color: rgba(194, 217, 252, 0);
    opacity: 1;
}

.hero__button-join-to:disabled {
    opacity: 0.2;
}

.hero__button-learn-more {
    font-weight: 500;
    color: var(--color-neutral-darkest);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 46px;

    border: 1px solid var(--opacity-transparent);
    border-radius: 100px;
    background: var(--opacity-neutral-darkest-5);

    transition: var(--opacity-animation), var(--background-animation), var(--transform-border-animation);
}

@media screen and (min-width: 768px) {
    .hero__button-learn-more {
        min-width: 128px;
    }
}

.hero__button-learn-more:hover,
.hero__button-learn-more:focus {
    opacity: 0.5;
}

.hero__button-learn-more:active {
    border: 1px solid var(--color-neutral);
    background-color: rgba(13, 11, 10, 0);
    opacity: 1;
}

.hero__button-learn-more:disabled {
    opacity: 0.2;
}