.yoga-classes {
    padding: 64px 0;
}

/* .yoga-classes__container {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.yoga-classes__title-above {
    font-weight: 600;
    text-align: center;
    color: var(--color-scheme-1-text);

    margin-bottom: 12px;
}

.yoga-classes__title {
    font-family: var(--second-family);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);

    margin-bottom: 20px;
}

.yoga-classes__tablet-title {
    display: none;
}

.yoga-classes__description {
    line-height: 1.6;
    text-align: center;
    color: var(--color-scheme-1-text);

    margin-bottom: 48px;
}